@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexbox {
  text-align: center;
}

.hexbox__title {
  font-family: 'Comfortaa', cursive;
  height: 1rem;
  font-size: 60px;
}


@media screen and (max-width: 320px) {
  .hexbox__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  .hexbox__title {
    font-size: 30px;
  }
}


.hexbox__subtitle {
  font-family: 'Comfortaa', cursive;
  height: 1rem;
  margin-top: 60px;
  font-size: 20px;
}

@media screen and (max-width: 320px) {
  .hexbox__subtitle {
    font-size: 10px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 550px) {
  .hexbox__subtitle {
    font-size: 20px;
    margin-top: 0px;
  }
}

.btn {
  margin-top: 30px;
}

@media screen and (max-width: 320px) {
  .btn {
    margin-top: 40px;
  }
}

@media screen and (max-width: 550px) {
  .btn {
    margin-top: 30px;
  }
}